<div class="panel panel-default">


    <div ng-show="isServiceErrorResponseMsg" class="alert alert-danger"  id="danger-alertService" >
        <button type="button" class="close" data-dismiss="alert">x</button>
        {{serviceErrorResponseMsg}}</div>
    <div ng-show="userUpdated" class="alert alert-danger" id="danger-alertUpdate">
        <button type="button" class="close" data-dismiss="alert">x</button>
        {{userUpdatedError}}</div>
    <div ng-show="userUpdatedSeccesful" class="alert alert-success" id="success-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        {{userUpdatedSeccesfulMsg}}</div>

    <div ng-show="isCreateSeccesful" class="alert alert-success" id="success-alertCreate">
        <button type="button" class="close" data-dismiss="alert">x</button>
        {{createSeccesfulMsg}}</div>
    <div ng-show="isErrorResponseMsg" class="alert alert-danger" id="danger-alertError">
        <button type="button" class="close" data-dismiss="alert">x</button>
        {{errorResponseMsg}}</div>

    <div ng-show="isErrorResponseMsg" class="alert alert-warning" id="warning-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        {{detailErrorResponse}}</div>

    <div id="jsGrid"></div>


</div>

