


<!doctype html>
<html>
<head>
	<title>Manage User App</title>
	<link
			href="./Default/css/style.css"
			rel="stylesheet">
	<link
			href="./Default/css/spectrum.min.css"
			rel="stylesheet">
	<link
			href="./bower_components/bootstrap-css-only/css/bootstrap.css"
			rel="stylesheet">
	<link
			href="./bower_components/jquery-ui/themes/base/jquery-ui.css"
			rel="stylesheet">
	<link
			href="./bower_components/bootstrap-css-only/css/bootstrap-theme.css"
			rel="stylesheet">


	<link type="text/css"
		  rel="stylesheet" href="./bower_components/js-grid/dist/jsgrid.min.css" />
	<link type="text/css"
		  rel="stylesheet" href="./bower_components/js-grid/dist/jsgrid-theme.min.css" />
	<style type="text/css">
		[ng\:cloak], [ng-cloak], .ng-cloak {
			display: none !important;
		}
	</style>
</head>

<body ng-app="application" ng-cloak class="ng-cloak">

<div ng-controller="navigation as nav" class="container">
	<ul class="nav nav-pills" role="tablist">
		<li ng-class="{active:nav.tab('home')}"><a href="#/">home</a></li>

		<li ng-hide="authenticated" ng-class="{active:nav.tab('navigation')}"><a href="login">login</a></li>
		<li ng-show="authenticated" ng-class="{active:nav.tab('users')}"><a href="#/users">Users</a></li>

		<li ng-show="authenticated"><a href="" ng-click="nav.logout()">logout ( {{signedInUser}} )</a></li>
	</ul>
</div>

<div ng-view class="container"></div>
<script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="./bower_components/js-grid/dist/jsgrid.min.js"></script>
<script type="text/javascript" src="./bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script type="text/javascript" src="js/application.js"></script>
<script type="text/javascript" src="js/services/userService.js"></script>
<script type="text/javascript" src="js/Controller/userNavigation.js"></script>
<script type="text/javascript" src="js/Controller/home.js"></script>
<script type="text/javascript" src="./Default/js/spectrum.min.js"></script>
<script type="text/javascript" src="./Default/js/index.js"></script>
<script type="text/javascript" src="js/Controller/Users.js"></script>






<!--<script src="js/services.js"></script>
<script src="js/LoginController.js"></script>-->
</body>
</html>
