<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../static/css/Default/css/style.css"
          th:href="@{/css/Default/css/style.css}" rel="stylesheet"/>
    <link href="../static/css/Default/css/spectrum.min.css"
          th:href="@{/css/Default/css/spectrum.min.css}" rel="stylesheet"/>
    <link href="../static/css/bootstrap-css-only/css/bootstrap.css"
          th:href="@{/css/bootstrap-css-only/css/bootstrap.css}" rel="stylesheet"/>
    <link href="../static/js/jquery-ui/themes/base/jquery-ui.css"
          th:href="@{/js/jquery-ui/themes/base/jquery-ui.css}" rel="stylesheet"/>
    <link href="../static/css/bootstrap-css-only/css/bootstrap-theme.css"
          th:href="@{/css/bootstrap-css-only/css/bootstrap-theme.css}" rel="stylesheet"/>
</head>
<body>

<div class="container">

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}})">
            &nbsp;</div>
    </th:block>

    <!-- /* Handle the flash message */-->
    <th:block th:if="${#fields.hasErrors('${user.*}')}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert ('danger', 'Error occurred, please provide right information ')">
            &nbsp;</div>
    </th:block>



    <div class="panel panel-default ">
        <div class="panel-heading">Forgot my password</div>
        <div class="panel-body">



            <form id="myForm" role="form" name="myForm" method="post" th:action="@{/forgotpassword}" th:object="${user}">
                <div class="form-group required">
                    <label class="col-md-2 control-label" for="Email">Email</label>



                    <input type="text" class="form-control btn-group-sm" id="Email" th:field="*{email}"
                           name="email"
                           placeholder="email" required="required"/>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                       class="text-danger"> Incorrect Email</p>
                </div>
                <div class="form-group text-center">

                    <input id="mySubmitButton" type="submit" value="Submit" class="btn btn-default"/>
                </div>
            </form>






        </div>
    </div>

</div>




<script src="../static/js/jquery/dist/jquery.min.js" th:src="@{/js/jquery/dist/jquery.min.js}" type="text/javascript"></script>
<script type="text/javascript" src="../static/js/angular/angular.min.js"  th:src="@{/js/angular/angular.min.js}"></script>
<script type="text/javascript" src="../static/js/angular-route/angular-route.min.js" th:src="@{/js/angular-route/angular-route.min.js}"></script>
<script type="text/javascript" src="../static/js/angular-bootstrap/ui-bootstrap-tpls.min.js" th:src="@{/js/angular-bootstrap/ui-bootstrap-tpls.min.js}"></script>
<script type="text/javascript" src="../static/js/angular-resource/angular-resource.min.js"  th:src="@{/js/angular-resource/angular-resource.min.js}"></script>
<script type="text/javascript" src="../static/js/js-grid/dist/jsgrid.min.js" th:src="@{/js/js-grid/dist/jsgrid.min.js}"></script>
<script type="text/javascript" src="../static/js/jquery-ui/ui/jquery-ui.js" th:src="@{/js/jquery-ui/ui/jquery-ui.js}"></script>
<script type="text/javascript" src="../static/js/Default/js/spectrum.min.js" th:src="@{/js/Default/js/spectrum.min.js}"></script>
<script type="text/javascript" src="../static/js/Default/js/index.js" th:src="@{/js/Default/js/index.js}"></script>

<script type="text/javascript" src="../static/js/Default/js/application.js" th:src="@{/js/Default/js/application.js}"></script>

</body>
</html>
