<!DOCTYPE html>
<html>
<head>
    <link th:href="@{css/Default/css/style.css}" rel="stylesheet"/>
    <link th:href="@{css/Default/css/spectrum.min.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap-css-only/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{js/jquery-ui/themes/base/jquery-ui.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap-css-only/css/bootstrap-theme.css}" rel="stylesheet"/>
</head>
<body>
<div th:fragment="footer">
    &copy; 2016 MF-Tech
</div>
</body>
</html>

